* {
box-sizing: border-box;
}

body {
    background: url('../images/background.jpg');
    font-size: 18px;
    line-height: 34px;
    font-family: cursive;
    color: palevioletred;
}

img {
    margin: 10px;
}

h1 {
    font-size: 43px;
    border: solid 5px palevioletred;
    background: white;
    text-align: center;
    margin-top: 2%;
    margin-left: 10%;
    margin-right:10%;
    padding: 15px;
    font-family: cursive;
}

h2 {
    font-size: 43px;
    border: solid 5px palevioletred;
    background: white;
    text-align: center;
    margin-top: 2%;
    margin-left: 10%;
    margin-right:10%;
    padding: 15px;
    font-family: cursive;
}

.sidebar {
    padding: 5px;
    position: relative;
    border-top: solid pink 2px;
    border-bottom: solid pink 2px;
    font-family: cursive;
    font-size: 12px;
}

span {
    border: solid white 2px;
    padding-left: 3px;
    padding-right:3px;
    background-color:white; 
    font-size: 15px;
}

.container {
    background-color: white;
    margin-top: 88px;
    margin-left: 9%;
    margin-right: 20%;
    margin-bottom: -64px;
    text-align: center;
    border: solid 3px pink;
}

#currentword {
    font-size: 30px;
    font-family: cursive;
    margin-bottom: 10px;
    margin-top: 16px;
}

#scoreboard {
    padding: 20px;
}

.song {
    margin: 0 auto;
}